conf/*.conf.json
conf/*.json

**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
**/terraform/**/.terraform.lock.hcl
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

ansible/inventory/inventory.ini

*.pem
*.key
id_rsa*
*.pub

*.log

.DS_Store
Thumbs.db

.idea/
.vscode/
*.swp
*.swo

*.tmp
*.bak
*~