replicaCount: 1

image:
  repository: ghcr.io/stefanprodan/podinfo
  tag: 6.8.0

ingress:
  enabled: true
  className: nginx
  hosts:
    - host: {{ podinfo_host | quote }}
      paths:
        - path: /
          pathType: ImplementationSpecific

resources:
  requests:
    cpu: 1m
    memory: 16Mi
